#logo {
    height: 80px;
    position: relative;
    top: 30px;
    left: 35%;
    margin: auto;
    display: inline-block;
}

main {
    position: relative;
    border: 1px solid black;
    width: 500px;
    height: 800px;
    margin: auto;
    display: block;
}

h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #564f45;
    color: white;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
    margin: 70px 0px 1px 50px;
}

span {
    font-size: 13px;
    margin: 70px 0px 1px 50px;
    padding: 5px;
}

input:focus {
    outline: none;
}

#passwordFindDetail {
    margin: auto;
    margin-top: 20px;
    position: relative;
}

#passwordFindDetail>div {
    border: 1px solid #4C4556;
    width: 400px;
    height: 60px;
    margin: auto;
    margin-bottom: 10px;
    line-height: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

}

#passwordFindDetail>div>i {
    width: 50px;
    text-align: center;
    font-size: 16px;
}

#passwordFindDetail>#idBox {
    width: 400px;
    height: 60px;
}

#passwordFindDetail>#idBox>input {
    border: none;
    width: 300px;
}

#passwordFindDetail>#phonenumberWrite {
    border: 1px solid #4C4556;
    width: 400px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    font-size: 10px;
    display: none;
    justify-content: center;
} 
#passwordFindDetail>#phonenumberWrite>input {
    border: none;
    width: 200px;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
} 
#passwordFindDetail>#phonenumberWrite>button { 
    border: none;
    width: 70px;
    font-size: 13px;
    text-align: center;
    float: right;
    
}
#passwordFindDetail>#emailWrite {
    border: 1px solid #4C4556;
    width: 400px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    font-size: 10px;
    display: none;
    justify-content: center;
} 
#passwordFindDetail>#emailWrite>input {
    border: none;
    width: 200px;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
} 

#passwordFindDetail>#emailWrite>button { 
    border: none;
    width: 70px;
    font-size: 13px;
    text-align: center;
}

#sendBox {
    width: 350px;
    height: 50px;
    padding: 0;
    margin: auto;
    font-size: 20px;
    display: block;
    text-align: center;
}

#sendBox button {
    width: 150px;
    height: 40px;
    font-size: 17px;
    background-color: #9B1B30;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}

#search {
    list-style: none;
    display: flex;
    margin: auto;
    width: 170px;
    padding: 10px;
    font-size: 12px;
    margin-top: 20px;
}

#search>li {
    width: 100px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}