<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>web01</display-name>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file> //html문서 아님
	</welcome-file-list>
	
	<!-- ** url 매핑 
        => 서블릿 정의 -> 매핑
        => 동일 클래스라 하더라도 매핑네임 중복은 허용하지 않음 -->
    <servlet>
		<servlet-name>myservlet</servlet-name>
		<servlet-class>servlet01.Ex01_HelloServlet</servlet-class>
    </servlet>    
	<servlet-mapping>
		<servlet-name>myservlet</servlet-name>
		<url-pattern>/hello</url-pattern>
		<url-pattern>/123</url-pattern>
	</servlet-mapping>
	
	<!--  Session Time 설정
			=> 단위 : 분, 0 또는 음수를 사용하면 무한시간
	-->
	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>
	
	
	
	
	
	
</web-app>